<form class="basic-form form" method="post">
    <p>
        <span class="required">Current Password</span>
        <input type="password" name="password">
    </p>
    <p>
        <span class="required">New Password</span>
        <input type="password" name="new">
    </p>
    <p>
        <span class="required">Confirm Password</span>
        <input type="password" name="confirm">
    </p>
    <input class="button" type="submit" value="Save">
    <input class="button back-button" type="button" value="Cancel">
</form>